#!/usr/bin/env bash

## CUSTOM SQL - Important file used by the db_assembler.sh
## Keep only the required variables (base sql files or updates, depending on the DB)

## BASE SQL

DB_WORLD_CUSTOM_PATHS+=(
	$PTR_TEMPLATE_PATH_ROOT"/data/sql/db-world/"
)

## UPDATES

DB_WORLD_UPDATES_PATHS+=(
	$PTR_TEMPLATE_PATH_ROOT"/data/sql/blizzlike/"
)
