[worldserver]

#
#    AnnounceEnable
#        Description: Enable the module announcing its presence.
#        Default:     true

AnnounceEnable = true

#
#    TemplateEnable
#        Description: Enable the application of templates.
#        Default:     true

TemplateEnable = true

#
#    LevelEnable
#        Description: Enable templates to be applied at any level.
#        Default:     false

LevelEnable = false

#
#   TemplateAchievements
#   TemplateBagGear
#   TemplateDK
#   TemplateEquipGear
#   TemplateHomebind
#   TemplateHotbar       # false
#   TemplateLevel
#   TemplateQuests       # false
#   TemplateReputation
#   TemplateResources
#   TemplateSkills
#   TemplateSpells
#   TemplateTaximask
#   TemplateTeleport
#       Description: Enable various aspects of template sets to be applied.
#       Defaults:    true

TemplateAchievements = true
TemplateBagGear      = true
TemplateDK           = true
TemplateEquipGear    = true
TemplateHomebind     = true
TemplateHotbar       = false # Defaulted false.
TemplateLevel        = true
TemplateQuests       = false # Defaulted false.
TemplateReputation   = true
TemplateResources    = true
TemplateSkills       = true
TemplateSpells       = true
TemplateTaximask     = true
TemplateTeleport     = true

#
#    EnableApplySecurity
#        Description: Set the minimum account security level to apply enabled templates.
#        Default:     0

EnableApplySecurity = 0

#
#    DisableApplySecurity
#        Description: Set the minimum account security level to apply disabled templates.
#        Default:     3

DisableApplySecurity = 3

#
#    EnableListSecurity
#        Description: Set the minimum account security level to list enabled templates.
#        Default:     0

EnableListSecurity = 0

#
#    DisableListSecurity
#        Description: Set the minimum account security level to list disabled templates.
#        Default:     2

DisableListSecurity = 2

#
#    StatusSecurityText
#        Description: Set the minimum account security level to show "Enabled/Disabled" text when listing templates.
#        Default:     2

StatusSecurityText = 2
