[worldserver]

# Enable the module announcing its presence.
# Default: true
Announce.enable=true

# Enable the application of templates.
# Default: true
Template.enable=true

# Set the minimum account security level to apply and list enabled templates.
# Default: 0
Enable.security=0

# Enable templates to be applied at any level.
# Default: false
Level.enable=false

# Enable various aspects of template sets to be applied.
# Defaults: true
Template.achievements=true
Template.baggear=true
Template.dk=true
Template.equipgear=true
Template.homebind=true
Template.hotbar=false
Template.level=true
Template.quests=false
Template.reputation=true
Template.skills=true
Template.spells=true
Template.taximask=true
Template.teleport=true
